*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@import url(reset.css);

.header{
    height: 60px;
    background-color: bisque;
}
.C{
    display: block;
    width: 120px;
    font-size: 20px;
    padding: 20px;

}
.A{
    background-color:bisque;
    width: 40%;
    height: 30px;
    margin: -45px 60%;
}
.A-item{
    display: inline-block;
    width: 110px;
    height: 40px;
    margin: -5px 0px;
    padding: 0px 10px;
    transition-duration: 0.7s;
    transition-property: background-color;

}
.A-item:hover{
    background-color: rgb(241, 193, 173);
    cursor: pointer;
    border: 2px solid rgb(240, 172, 164);
    border-radius: 10px;


}
.A-link{
    
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: bold;
    
}