*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url(reset.css);


.boks{
    width: 682px;
    height: 325px;
    border: 1px solid black;
    margin: 0px auto;
    
}
.marvel{
    color: maroon;
    background-color: lavender;
    padding: 0 45%;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
}
.img-lint{
    float: left;
    height: 283px;
    width: 341px;
    border: 2px solid rgb(250, 248, 248);
}
.img-item{
    height: 200px;
    width: 341px;
    border: 1px solid rgb(252, 252, 252);

}
.img10{
    height: 188px;
    width: 326px;
    margin: 5px;
}
.img-item0{
    height: 80px;
    width: 340px;
    border: 1px solid rgb(253, 251, 251);
}
.img{
   border: 1px solid rgb(253, 253, 251);
   width: 22%;
   height: 70%;
   margin: 10px 5px 0px ;
   float: left;
}
.text{
    float: left;
    height: 275px;
    width: 341px;
    border: 2px solid #f8f7f7;
    margin: -275px 335px;
    padding: 5px;
    font-size: 70%;
    font-family: 'Roboto', sans-serif;
}
