*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fon{
    width: 100%;
    height: 630px;
    background-image: url('./img/1616610153_47-p-sinii-fon-kosmos-53.jpg');
   
}
.kolo{
   
    border-radius:134px 136px;
    width: 250px ;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(-70deg);
    

}
.radiys{
    width: 370px;
    height: 370px;
    border-radius: 50%;
    border: 1px solid lavender ;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    animation-name:rom ;
    transform-style: preserve-3d;
    transform:rotateX(70deg) rotateY(0deg)  ;
}
.lyna{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: orbita 6s infinite;
    animation-name: lin;
    animation-timing-function: linear;
    transform-style: preserve-3d;
    transform: rotateZ(0deg) translate(185px)  rotateY(90deg) rotateX(90deg) ;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('./img/moon\ \(1\).png');
    background-position: center;
}

@keyframes lin{
    0%{
        transform: rotateZ(0deg) translate(185px)  rotateY(90deg) rotateX(90deg) ;
        box-shadow: inset 32px -16px 12px rgba(0, 0, 0, 0.5);
       
    }
    50%{
        transform:rotateZ(180deg) translate(185px)   rotateY(90deg) rotateX(270deg) ;
        box-shadow: inset -16px 32px 15px rgba(0, 0, 0, 0.5);
    }
    100%{
       
        transform:rotateZ(360deg) translate(185px)  rotateY(90deg)rotateX(445deg) ;
        box-shadow: inset 32px -16px 12px rgba(0, 0, 0, 0.5);
       
    }
   
}